@import '~@fluentui/react/dist/sass/References.scss';

.blueButtons {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
  /* style.css */
/* style.css */
.requestBtn, .appBtn, .templateBtn, .projectBtn, .employeeBtn, .policiesBtn {
  color: #fff !important;
  border: none !important;
  height: 120% !important;
}

.requestBtn {
  background-color: #59b6f3 !important;
}

.appBtn {
  background-color: #4091e2 !important;
}

.templateBtn {
  background-color: #4574d0 !important;
}

.projectBtn {
  background-color: #368cf1 !important;
}

.employeeBtn {
  background-color: #4091e2 !important;
}

.policiesBtn {
  background-color: #59b6f3 !important;
}
  .icon{
    height: 12px;
    width: 12px;
  }
}


  
